div.header{
  padding: 1rem;
  position: fixed;
  top: 0rem;
  left: 0rem;
  z-index: 100;
  color: slategrey;
  background-color: white;
  border-bottom: 0.1rem solid lightgrey;
}
h2.header{
  margin: 0rem;
  display: inline-block;
}
h5.cart-icon{
  margin-top: 0.5rem;
  float: right;
  display: inline-block;
}
h5.cart-icon:hover{
  cursor: pointer;
}
i.cart-icon{
  margin-right: 0.5rem;
}
span.cart-badge{
  color: white;
}
span.cart-badge:hover{
  background-color: palegoldenrod;
}
